<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>PM2.5全省數據</h1>
    <table border="1">
        <thead>
            <tr>
                <th>site</th>
                <th>pm2.5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>信義</td>
                <td>21</td>
            </tr>
            <tr>
                <td>松山</td>
                <td>19</td>
            </tr>
        </tbody>
    </table>

</body>

</html>